<a href="https://colab.research.google.com/github/NavyaPatil10/AMS/blob/main/Movie_Recommendation_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#To import the libraries

In [ ]:
import pandas as pd
import numpy as np   #used for array
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

In [ ]:
#load the dataset
df=pd.read_csv("https://www.dropbox.com/s/6qcgvoc6h8y8zb2/MovieRecommendation.csv?dl=1")

In [ ]:
df.head(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [ ]:
#To count the number of rows and columns in data set
df.shape

(284807, 31)

In [ ]:
#dataset information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [ ]:
#Checking missing values in each column
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [ ]:
#Distribution of Legit Transaction-1 and Fraud Transaction -1
df['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [ ]:
#Separating the data for analysis
legit=df[df.Class==0]
Fraud=df[df.Class==1]

In [ ]:
legit.shape

(284315, 31)

In [ ]:
Fraud.shape

(492, 31)

In [ ]:
#A Statistical measure of the data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [ ]:
Fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [ ]:
#Compare the values for both transaction
df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [ ]:
legit_sample=legit.sample(n=492)

Concatenating two DataFrames

In [ ]:
new_dataset=pd.concat([legit_sample,Fraud],axis=0)

Data are added row wise

In [ ]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
23743,32892.0,-0.578169,0.564672,1.347146,1.026510,0.287016,-0.588811,0.731355,-0.046437,-0.691380,...,0.266726,0.664652,0.096521,0.410479,-0.336257,-0.327523,0.159898,0.174427,64.71,0
126740,78075.0,-12.044112,9.564419,-5.575368,-1.529595,-4.989355,-2.113127,-2.791337,4.296647,5.076462,...,-1.105291,-1.247029,0.732324,0.542866,1.588491,-0.024443,0.536586,-0.553290,8.92,0
255557,157285.0,0.326185,0.267068,0.946868,-0.166550,-0.255860,0.352567,-0.478679,-0.660059,0.869817,...,0.929949,0.351668,-0.240368,0.621120,0.784903,-0.074291,0.223609,0.253604,9.99,0
42808,41254.0,-1.956579,0.291438,1.484511,0.388386,-0.478614,-0.339224,-1.018783,1.190242,0.250874,...,0.169489,0.113693,-0.290046,0.056228,0.029114,-0.539786,-0.212771,-0.295264,1.00,0
5358,5293.0,1.252980,0.369723,0.160769,1.049950,0.147648,-0.215569,-0.029986,-0.091112,1.139133,...,-0.123056,-0.119032,-0.177747,-0.420887,0.707464,-0.339933,-0.021293,-0.004436,4.11,0

In [ ]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [ ]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [ ]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,95902.532520,-0.096434,0.047545,-0.022554,-0.014337,-0.105969,0.013699,0.026134,-0.028770,0.001672,...,0.024469,-0.022721,0.005059,0.049574,-0.031801,0.002556,-0.004027,0.048332,0.015068,97.734024
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Split the data into features and targets

In [ ]:
X=new_dataset.drop(columns='Class',axis=1)
Y=new_dataset['Class']

In [ ]:
print(X)

            Time         V1        V2        V3        V4        V5        V6  \
23743    32892.0  -0.578169  0.564672  1.347146  1.026510  0.287016 -0.588811
126740   78075.0 -12.044112  9.564419 -5.575368 -1.529595 -4.989355 -2.113127
255557  157285.0   0.326185  0.267068  0.946868 -0.166550 -0.255860  0.352567
42808    41254.0  -1.956579  0.291438  1.484511  0.388386 -0.478614 -0.339224
5358      5293.0   1.252980  0.369723  0.160769  1.049950  0.147648 -0.215569
...          ...        ...       ...       ...       ...       ...       ...
279863  169142.0  -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0   1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0  -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0  -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0   1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
23743   0.731355 -0.046437 -0.691380  ...  0.161655  0.266726  0.664652
126740 -2.791337  4.296647  5.076462  ...  3.542685 -1.105291 -1.247029
255557 -0.478679 -0.660059  0.869817  ... -0.240528  0.929949  0.351668
42808  -1.018783  1.190242  0.250874  ... -0.501962  0.169489  0.113693
5358   -0.029986 -0.091112  1.139133  ... -0.189970 -0.123056 -0.119032
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
23743   0.096521  0.410479 -0.336257 -0.327523  0.159898  0.174427   64.71
126740  0.732324  0.542866  1.588491 -0.024443  0.536586 -0.553290    8.92
255557 -0.240368  0.621120  0.784903 -0.074291  0.223609  0.253604    9.99
42808  -0.290046  0.056228  0.029114 -0.539786 -0.212771 -0.295264    1.00
5358   -0.177747 -0.420887  0.707464 -0.339933 -0.021293 -0.004436    4.11
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [ ]:
print(Y)

23743     0
126740    0
255557    0
42808     0
5358      0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

Split the data into Training data and Testing data

In [ ]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [ ]:
print(X.shape,X_train.shape,X_test.shape)

(984, 30) (787, 30) (197, 30)

Model Training

In [ ]:
#Logistic Regression
lr=LogisticRegression()

In [ ]:
#Training the Logistic Regression  Model with Training Data
lr.fit(X_train,Y_train)

LogisticRegression()

Evaluate the model

In [ ]:
#accuracy on Training data
X_train_prediction=lr.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction,Y_train)

In [ ]:
print('Accuracy on Training data:',training_data_accuracy)

Accuracy on Training data: 0.9504447268106735

In [ ]:
#accuracy on test data
X_test_prediction=lr.predict(X_test)
test_data_accuracy=accuracy_score(X_test_prediction,Y_test)

In [ ]:
print('Accuracy on Test data:',test_data_accuracy)

Accuracy on Test data: 0.9187817258883249